In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
# Define the path to the Chrome WebDriver (chromedriver.exe)
driver_path = "chromedriver.exe"

# Set the URL of the target web page
url = "carvilla-v1.0/index.html"

In [3]:
# Initialize and start the Chrome Driver service
service = Service(driver_path)
service.start()

In [4]:
# Launch the Chrome browser using our configured service
driver = webdriver.Chrome(service=service)
driver.maximize_window()

# Navigate to the specified URL
driver.get(url)

# Set up a waiting mechanism with a timeout of 10 seconds
wait = WebDriverWait(driver, 10)

# Define XPaths to locate the car names and prices
xpath_nama_mobil = "/html/body/div/section[4]/div/div[2]/div/div/div/div[2]/h2/a"
xpath_harga_mobil = "/html/body/div/section[4]/div/div[2]/div/div/div/div[2]/h3"

# Initialize lists to store car names and prices
nama_mobil_list = []
harga_mobil_list = []

try:
    # Find the web elements containing car names and prices
    nama_mobil_elements = driver.find_elements(By.XPATH, xpath_nama_mobil)
    harga_mobil_elements = driver.find_elements(By.XPATH, xpath_harga_mobil)
    
    # Loop through the elements and extract data
    for nama_element, harga_element in zip(nama_mobil_elements, harga_mobil_elements):
        nama_mobil = nama_element.text
        harga_mobil = harga_element.text
        
        # Print and store the data
        print("NAMA MOBIL:", nama_mobil)
        print("Harga Mobil:", harga_mobil)

        nama_mobil_list.append(nama_mobil)
        harga_mobil_list.append(harga_mobil)

except NoSuchElementException:
    print("Elemen tidak ditemukan")

# Close the browser
driver.quit()

NAMA MOBIL: BMW 6-Series Gran Coupe
Harga Mobil: $89,395
NAMA MOBIL: Chevrolet Camaro WMV20
Harga Mobil: $66,575
NAMA MOBIL: Lamborghini V520
Harga Mobil: $125,250
NAMA MOBIL: Audi A3 Sedan
Harga Mobil: $95,500
NAMA MOBIL: Infiniti Z5
Harga Mobil: $36,850
NAMA MOBIL: Porsche 718 Cayman
Harga Mobil: $48,500
NAMA MOBIL: BMW 8-Series Coupe
Harga Mobil: $56,000
NAMA MOBIL: BMW XSeries-6
Harga Mobil: $75,800

In [5]:
# Organize the extracted data into a dictionary
data = {
    "Nama Mobil": nama_mobil_list,
    "Harga Mobil": harga_mobil_list
}

# Create a Pandas DataFrame from the collected data
data_mobil = pd.DataFrame(data)

# Display the DataFrame
data_mobil

                Nama Mobil Harga Mobil
0  BMW 6-Series Gran Coupe     $89,395
1   Chevrolet Camaro WMV20     $66,575
2         Lamborghini V520    $125,250
3            Audi A3 Sedan     $95,500
4              Infiniti Z5     $36,850
5       Porsche 718 Cayman     $48,500
6       BMW 8-Series Coupe     $56,000
7            BMW XSeries-6     $75,800